<h3>@ViewBag.Message</h3>

<address>
    One Wombat Way<br />
    Wombaton<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">wombat@example.com</a><br />
    <strong>Twitter:</strong> <a href="mailto:Marketing@example.com">@@richchurcher</a><br/>
    <strong>GitHub:</strong> <a href="mailto:Marketing@example.com">https://github.com/richchurcher</a>
</address>