<h3>@ViewBag.Message</h3>

<address>
    19 Ruru Street<br>
    Eden Terrace<br>
    Auckland 1021<br>
    New Zealand
</address>

<address>
    275 Cuba Street<br>
    Te Aro<br>
    Wellington 6011<br>
    New Zealand
    <abbr title="Phone">P:</abbr>+64 21 509 904
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:hello@devacademy.co.nz">hello@devacademy.co.nz</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/devacademynz">@@devacademynz</a><br/>
    <strong>GitHub:</strong> <a href="https://github.com/dev-academy-phase4/cs-portfolio">https://github.com/dev-academy-phase4/cs-portfolio</a>
</address>

<a href="https://devacademy.co.nz"><img src="../../Content/Images/EDA-square-hires-180x180.png"></a>