<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <img class="img-responsive" src="../../Content/Images/prowlin-wombat.jpg">
            <div class="caption">
                <h3>Wombat Developers...</h3>
                <p>...make the best developers! Ask yourself, "Why don't I have more wombats on my staff?"</p>
                <p>Go ahead, ask yourself. I'll wait.</p>
                <p>Good. Now, feast on these facts. Wombats:
                    <ul>
                        <li>Take fewer sick days</li>
                        <li>Don't eat all the candy in the snack machine</li>
                        <li>Don't require a cubicle, foosball table or free soda</li>
                    </ul>
                Furthermore, we are extremely Agile.</p>
                <p>Well, <em>fairly</em> Agile.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <div class="caption">
                <h3>Skills</h3>
                <ul>
                    <li>Quadrupedal (therefore no office furniture need be provided).</li>
                    <li>Burrowing. Lots of burrowing.</li>
                    <li>Wombat.js (natch).</li>
                    <li>Proficient in jWombat.</li>
                    <li>Poop is mostly <a href="http://theconversation.com/why-do-wombats-do-cube-shaped-poo-55975">square</a>.</li>
                    <li>Social skills admirable provided territorial niceties are observed.</li>
                </ul>
            </div>
            <img class="img-responsive" src="../../Content/Images/next10k.jpg">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">Attribution: <a href="https://www.flickr.com/photos/ljcjones/7636274852">Walking Wombat</a> by Louis Jones (<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>).</div>
</div>