@model Portfolio.Models.JobViewModel

@Html.DisplayForModel()

<p>
    @Html.ActionLink("Back to List", "Index")
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @:| @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</p>
