@model IEnumerable<Portfolio.Models.JobViewModel>

<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

@Html.DisplayForModel()
